@import url('./variables/_font.css');
@import url('./ProjetOhmyfood/mixins/_mixins.css');

@media (min-width: 992px) and (max-width: 1440px) {
  .color-primary {
    color: #9356dc;
  }
  .color-secondary {
    color: #FF79DA;
  }
  body {
    width: auto;
    background: white;
    z-index: 10;
    margin: 0px;
    font-family: Roboto Regular;
  }
  body .logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 20px;
  }
  .header {
    position: relative;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 10, 0.185);
            box-shadow: 0px 0px 10px rgba(0, 0, 10, 0.185);
  }
  .spinner {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    z-index: 10;
    background: white;
    -webkit-animation: spinnerOne 3s ease-in-out;
            animation: spinnerOne 3s ease-in-out;
    visibility: hidden;
    font-size: 100px;
  }
  .spinner h4 {
    font-size: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: auto 0;
    font-family: shrikhand;
  }
  .spinner div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    height: 100px;
    top: 40%;
    left: 45%;
    background-color: white;
    border-top: 5px solid #9356dc;
    border-bottom: 5px solid #FF79DA;
    border-left: 5px solid transparent;
    border-radius: 50%;
    -webkit-animation: spinner-one 1s ease-in;
            animation: spinner-one 1s ease-in;
    -webkit-animation-iteration-count: 2;
            animation-iteration-count: 2;
    z-index: 20;
    visibility: hidden;
    font-size: 100px;
  }
  .localisation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    background-color: rgba(211, 211, 211, 0.603);
    text-align: center;
    font-family: Roboto Regular;
  }
  .localisation p {
    margin-left: 15px;
  }
  .menu-explorer {
    background-color: #F2F2F2;
    padding: 50px;
    text-align: center;
  }
  .menu-explorer h1 {
    margin: 0px;
    font-family: Roboto Bold;
  }
  .menu-explorer p {
    font-family: Roboto Thin;
    font-size: 25px;
  }
  .menu-explorer button {
    border-radius: 40px;
    padding: 20px;
    font-size: larger;
    font-weight: 900;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    border: none;
    font-family: Roboto Regular;
  }
  .Fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px;
  }
  .Choose {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #F2F2F2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
    -webkit-box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.158);
            box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.158);
    margin-bottom: 30px;
    cursor: pointer;
  }
  .Choose:hover {
    background: #9256dc3a;
  }
  .Choose:hover .icon {
    color: #9356DC;
  }
  .Choose .number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background-color: #9356DC;
    border-radius: 50%;
    padding: 8px;
    height: 10px;
    width: 10px;
    color: white;
    left: -30px;
  }
  .Choose p {
    text-align: center;
    margin-left: 40px;
    font-weight: bold;
  }
  .Restaurant {
    display: -ms-grid;
    display: grid;
   
        grid-template-columns: repeat(2, 1fr);
    background-color: #F2F2F2;
    padding: 30PX;
    justify-items: center;
    text-align: -webkit-center;
  }
  .Restaurant .card {
    background-color: white;
    width: 60%;
    height: 300px;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 20px;
    -webkit-box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.158);
            box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.158);
    cursor: pointer;
  }
  .Restaurant .image-restaurant {
    width: 100%;
    height: 70%;
    overflow: hidden;
  }
  .Restaurant .image-restaurant:after {
    content: 'Nouveau';
    position: absolute;
    background-color: #99E2D0;
    color: #1b6150;
    padding: 10px;
    margin: 15px 0px 0px -100px;
    font-weight: bold;
  }
  .Restaurant img {
    width: 100%;
  }
  .Restaurant .name-restaurant {
    width: 100%;
    margin-left: 20px;
    line-height: 8px;
  }
  .Restaurant .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    height: 30%;
  }
  .Restaurant .like {
    text-align: left;
    margin-right: 20px;
  }
  .far.fa-heart {
    font-size: 30px;
  }
  .far.fa-heart:hover {
    background-image: radial-gradient(#FF79DA, #ad60f5);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
    font-weight: bold;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
}

@media screen and (max-width: 768px) {
  .color-primary {
    color: #9356dc;
  }
  .color-secondary {
    color: #FF79DA;
  }
  body {
    background: white;
    z-index: 10;
    margin: 0px;
    font-family: Roboto Regular;
  }
  body .logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 20px;
  }
  .header {
    position: relative;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 10, 0.185);
            box-shadow: 0px 0px 10px rgba(0, 0, 10, 0.185);
  }
  .spinner {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    z-index: 10;
    background: white;
    -webkit-animation: spinnerOne 3s ease-in-out;
            animation: spinnerOne 3s ease-in-out;
    visibility: hidden;
    font-size: 100px;
  }
  .spinner h4 {
    font-size: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: auto 0;
    font-family: shrikhand;
  }
  .spinner div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    height: 100px;
    top: 40%;
    left: 45%;
    background-color: white;
    border-top: 5px solid #9356dc;
    border-bottom: 5px solid #FF79DA;
    border-left: 5px solid transparent;
    border-radius: 50%;
    -webkit-animation: spinner-one 1s ease-in;
            animation: spinner-one 1s ease-in;
    -webkit-animation-iteration-count: 2;
            animation-iteration-count: 2;
    z-index: 20;
    visibility: hidden;
    font-size: 100px;
  }
  .localisation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    background-color: rgba(211, 211, 211, 0.603);
    text-align: center;
    font-family: Roboto Regular;
  }
  .localisation p {
    margin-left: 15px;
  }
  .menu-explorer {
    background-color: #F2F2F2;
    padding: 50px;
    text-align: center;
  }
  .menu-explorer h1 {
    margin: 0px;
    font-family: Roboto Bold;
  }
  .menu-explorer p {
    font-family: Roboto Thin;
    font-size: 25px;
  }
  .menu-explorer button {
    border-radius: 40px;
    padding: 20px;
    font-size: larger;
    font-weight: 900;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    border: none;
    font-family: Roboto Regular;
  }
  .Fonctionnement {
    margin: 30px;
  }
  .Choose {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
    -webkit-box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.158);
            box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.158);
    margin-bottom: 30px;
    cursor: pointer;
  }
  .Choose:hover {
    background: #9256dc3a;
  }
  .Choose:hover .icon {
    color: #9356DC;
  }
  .Choose .number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background-color: #9356DC;
    border-radius: 50%;
    padding: 8px;
    height: 10px;
    width: 10px;
    color: white;
    left: -30px;
  }
  .Choose p {
    text-align: center;
    margin-left: 40px;
    font-weight: bold;
  }
  .Restaurant {
    background-color: #F2F2F2;
    padding: 30PX;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: -webkit-center;
  }
  .Restaurant .card {
    background-color: white;
    width: 90%;
    height: 300px;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 20px;
    -webkit-box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.158);
            box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.158);
  }
  .Restaurant .image-restaurant {
    width: 100%;
    height: 70%;
    overflow: hidden;
  }
  .Restaurant .image-restaurant:after {
    content: 'Nouveau';
    position: absolute;
    background-color: #99E2D0;
    color: #278870;
    padding: 10px;
    margin: 15px 0px 0px -100px;
    font-weight: bold;
  }
  .Restaurant img {
    width: 100%;
  }
  .Restaurant .name-restaurant {
    width: 100%;
    margin-left: 20px;
    line-height: 8px;
  }
  .Restaurant .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    height: 30%;
  }
  .Restaurant .like {
    text-align: left;
    margin-right: 20px;
  }
  .far.fa-heart {
    font-size: 30px;
  }
  .far.fa-heart:hover {
    background-image: radial-gradient(#FF79DA, #ad60f5);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
    font-weight: bold;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
}

.footer {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.836);
  z-index: -50;
}

.footer img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.footer .fas.fa-utensils {
  font-size: 25px;
  margin-right: 25px;
}

.footer .fas.fa-hands-helping {
  font-size: 16px;
  margin-right: 25px;
}

.footer a {
  text-decoration: none;
  color: white;
}

ul {
  color: white;
  padding: 0px;
}

ul li {
  padding: 10px 10px 10px 0px;
  list-style: none;
}

@-webkit-keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes spinnerOne {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spinnerOne {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes spinner-one {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
    visibility: hidden;
  }
}

@keyframes spinner-one {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
    visibility: hidden;
  }
}
/*# sourceMappingURL=style.css.map */