@import "./variables";

// Apparition progressive des menus //

@for $i from 3 to 15 {
  .card-menu {
    animation: fade-in 2s ease forwards;
    opacity: 0;
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.5}s;
    }
  }
}

// Loader Large Tablette et Desktop //

.spinner-bg {
  @include spinner-bg;
  h1 {
    @include texte;
  }

  .circle-spinner {
    @include circle-spinner;
  }
}

// MOBILE //

@media screen and (max-width: 768px) {
  .loader {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    align-items: center;
    position: fixed;
    z-index: 100;
    justify-content: center;
    background: white;
    animation: spinner-bg 3s ease-in-out;
    visibility: hidden;
  }

  .bouncer {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 100px;
    z-index: 100;
    margin: 0 auto;
  }
  .bouncer div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: bounce 0.5s ease infinite alternate, opacity 3s ease forwards;

    &:nth-child(1) {
      animation-delay: 0.55s;
      background-color: $color-primary;
    }
    &:nth-child(2) {
      animation-delay: 0.6s;
      background-color: $color-secondary;
    }
    &:nth-child(3) {
      animation-delay: 0.65s;
      background-color: $color-tertiary;
    }
  }
}

// END MOBILE //

// ANIMATION BACKGROUND DU LOADER //

@keyframes spinner-bg {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

// ANIMATION DU CERCLE DU LOADER //

@keyframes circle-spinner {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
    visibility: hidden;
  }
}

// animation du loader en mobile//

@keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

// animation du fondu pour l'apparition des menus //

$distance: 50px;

@keyframes fade-in {
  from {
    transform: translate3d(0, $distance, 0);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// animation du check pour le bouton de sélection //

@keyframes checkbutton {
  0% {
    transform: translateX(100px);
  }
  100% {

    transform: translateX(0px);
  }
}

// animation de la transition vers la gauche du prix //

@keyframes checkrate {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-65px);
  }
}

// animation de la rotation du validé dans le bouton de sélection //

@keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}