@media screen and (min-width:992px){
    
    .logo{
        display: flex;
        width: 100%;
        }
    .menu-restau-1{
        display:flex;
        align-items: center;
    }
    .menu{
        width: 40%;
    }
    .footer{
        text-align: center;
        .logo{
            text-align: center;
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        a{
            display: flex;
            align-items: center;
        }

    }   
}


@media (min-width:768px) and (max-width:992px) {


    .menu-restau-1{
        display:flex;
        align-items: center;
        flex-direction: column;
    }
    .menu{
        width: 90%;
    }
}

@media  screen and (max-width:768px) {

    .spinner-bg{
        display: none;
    }

    .menu-restau-1{
        display:flex;
        flex-direction: column;
        align-items: center;
        .menu{
        width: 90%;
        }
    }
}