@import "./variables";

@mixin Bouton {
  border-radius: 40px;
  padding: 20px;
  margin-top: 30px;
  font-size: larger;
  font-weight: 900;
  cursor: pointer;
  background: linear-gradient($color-secondary, $color-primary);
  color: white;
  border: none;
  font-family: $font-2;
  &:hover {
    background: linear-gradient(#ff79d986, #9256dc93);
  }
}

// ** Bouton Like ** //

@mixin heart {
  font-size: 30px;
  color: black;
}

@mixin heart-hover {
  background-image: radial-gradient($color-secondary, $color-primary);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
  font-weight: bold;
  transition: all 0.5s ease-out;
}
// ** End Bouton Like ** //

// ** loader oh my food cercle ** //

@mixin spinner-bg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  background: white;
  animation: spinner-bg 3s ease-in-out;
  visibility: hidden;
}

@mixin texte {
  font-size: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto 0;
  font-family: $font-1;
}

@mixin circle-spinner {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-top: 5px solid $color-primary;
  border-bottom: 5px solid $color-secondary;
  border-left: 5px solid transparent;
  border-radius: 50%;
  animation: circle-spinner 1s ease-in;
  animation-iteration-count: 2;
  z-index: 20;
  visibility: hidden;
  font-size:20px;
  text-align: center;
  font-family: $font-1;
  align-items: center;
}
// ** end oh my food cercle **//
