$color-primary: #9356dc;

$color-secondary: #ff79da;

$color-tertiary: #99e2d0;

@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf");
}
$font-1: "Shrikhand";

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
$font-2: "Roboto Regular";

@font-face {
  font-family: "Roboto Thin";
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
}
$font-3: "Roboto Thin";

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
$font-4: "Roboto Bold";

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}
$font-5: "Roboto Light";

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
$font-6: "Roboto Medium";
