@media screen and (min-width:768px){
    .global-choose{
        margin-right: 100px;
    }
    .Restaurant{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:768px) {

    .spinner{
        display: none;
    }
    header .logo{
        width: 100%;
    }
    .Fonctionnement{
        display: flex;
        flex-direction: column;
        margin:0px;
        align-items: center;
        justify-content: center;
        width: 100%;
        .global-choose{
            width: 80%;
            margin-right: 0px;
        }
    }
    .menu-explorer{
        background-color: #F2F2F2;
        padding:50px;
        text-align: center;
        p{
            font-size: 25px;
            font-family: $font-3;
        }
        button{
            @include Bouton
        }
    }

    .Choose{
        display: flex;
        align-items: center;
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 20px;
        font-size: 18px;
        box-shadow:5px 5px 20px -3px rgba(0, 0, 0, 0.158);
        margin-bottom: 30px;
        cursor: pointer;
        &:hover{
            background: #9256dc3a;
            .icon{
                color: #9356DC;
            }
        }
        .number{
            display: flex;
            align-items: center;
            position: relative;
            background-color: #9356DC;
            border-radius: 50%;
            padding: 8px;
            height: 10px;
            width: 10px;
            color: white;
            left:-30px;
        }
        p{
            font-weight: bold;
    
        }
        .choose-restaurant{
            width: 100%;
        }
    
    }
    .Restaurant{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .card-name-restaurant{
            width: 100%;
        }
        .description{
            justify-content: space-between;
            .far.fa-heart{
                &:hover{
                    @include heart-hover
                }
                margin-right: 15px;
            }
            .name-restaurant{
                margin-left: 15px;
            }
            
        }
       
    }

}
